<body>
	<header>
		<nav>
			<a href="/">Home</a>
			|
			<a href="/realtimeproducts">Real-Time</a>
		</nav>
	</header>

	<main class="contenedor">
		{{{body}}}
	</main>

	<footer>
		<p>&copy; 2025 My App</p>
	</footer>
</body>