<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Database Practice</title>
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>

		<header>
			<nav>
				<a href="/">Home</a>
				<a href="/realtimeproducts">Products management</a>
				<a href="/api/carts/" class="cart-btn">Carts management</a>
			</nav>
		</header>

		<main class="contenedor">
			{{{body}}}
		</main>

		<footer>
			<p>&copy; 2025 DataBases CODERHOUSE B'nt</p>
		</footer>

	</body>
</html>